.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color:greenyellow;
    margin-top: 12%;
    width: 50vh;
    margin-left: 35%;
    border-radius: 20px;
    box-shadow: 20px black;

  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
  }
 